#d1{
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 1000px;
    

}
#d2{
    
    margin-top: 0px;
  margin-right: 0px;
}
#d3{
   position:absolute;
  margin-top: 400px;
  margin-left: 0px;
  margin-right: 800px;
  
}
#d4{
    
    margin-top: 400px;
    margin-right: 400px;
    
}
#d5{
    position: absolute;
    margin-left: 500px;
    margin-top: 200px;

}